<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283466351178-1sm84pkm1vq8goj57egsf7c93893ajqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283466351178-1sm84pkm1vq8goj57egsf7c93893ajqp</string>
	<key>API_KEY</key>
	<string>AIzaSyDZMrO_9KcpEJc8yMiIL4oYEi9a5gFOzHI</string>
	<key>GCM_SENDER_ID</key>
	<string>283466351178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youtubeEcommerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-6455a</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-6455a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283466351178:ios:11f94d8546d09dc5939cb3</string>
</dict>
</plist>